html{
    font-family: Helvetica; 
    display: inline-block; 
    margin: 0px auto; 
    text-align: center;
}
body{
    margin-top: 50px;
    /*background: #0E101C; */
    font-size: 50px;
}

p{
    font-size: 24px;
    color: #444444;
    margin-bottom: 10px;
}